<div class="markdown-body">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- contents-ads -->
  <ins class="adsbygoogle" style="display:block; width:98%; height:300px;" data-ad-client="ca-pub-3982263527432741"
    data-ad-slot="9143495689" data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <br />
  {{ post.content }}
</div>
<br />
<br />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- contents-ads -->
<ins class="adsbygoogle" style="display:block; width:98%; height:300px;" data-ad-client="ca-pub-3982263527432741"
  data-ad-slot="9143495689" data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>